{
  "version": 1,
  "minor_version": 1,
  "key": "core.config",
  "data": {
    "latitude": 37.73827703469568,
    "longitude": -122.4456310272217,
    "elevation": 50,
    "unit_system": "metric",
    "location_name": "Home",
    "time_zone": "America/Los_Angeles",
    "external_url": null,
    "internal_url": null,
    "currency": "USD"
  }
}