*.json
*.pem
*.log*
*.db
*.db-wal
*.db-shm
# Ignore folders.
frontend
nest/event_media/
custom_components/
blueprints/
www/community
image/
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml